.team-heading {
    background-color: lightblue;
}

.card-header {
    height: 130px;
    background-color: lightyellow;
}

.card-body {
    background-color: lightgreen;
}

.employee-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .3s ease-in-out;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color: lightblue;
}

.employee-card :hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
}

.list-group {
    width: 240px;
    background-color: lightgreen;
}

a {
    color: royalblue;
}

a:hover {
    color: seagreen;
}